@use "../_partials/mixins";

.article {
  p {
    font-size: var(--fs-250);
  }

  @include mixins.minmq(50em) {
    p {
      font-size: var(--fs-250);
    }
  }
}

.primary-bg-skew {
  --bottom-margin: 7em;
  margin-top: var(--bottom-margin);
  margin-bottom: var(--bottom-margin);
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    // height: 135px;
    height: 55px;
    background-color: var(--color-primary);
    // background-color: red;
    left: 0;
    right: 0;
    transform: skew(0deg, 354deg);
    transform-origin: left;
    position: absolute;
    z-index: -1;
  }
  @include mixins.maxminmq(50em, 30em) {
    &::before,
    &::after {
      height: 85px;
    }
  }
  @include mixins.minmq(50em) {
    --bottom-margin: 10em;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      // height: 350px;
      height: 164px;
      left: 0;
      right: 0;
      // transform: skew(0deg, -4deg);
      transform: skew(0deg, 354deg);
      transform-origin: left;
      position: absolute;
      z-index: -1;
    }
    &::after {
      // height: 250px;
      height: 164px;
    }
  }
}

.skew-bg-article {
  position: relative;
  // --bottom-margin: 8em;
  --bottom-margin: 10em;
  margin-bottom: var(--bottom-margin);
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    background-color: var(--color-light);
    left: 0;
    right: 0;
    transform: skew(0deg, 354deg);
    transform-origin: left;
    position: absolute;
    z-index: -1;
  }
  &::before {
    height: 135px;
  }
  &::after {
    height: 87px;
  }
  .float-featured-image {
    // margin-bottom: -8em;
    margin-bottom: -5em;
  }

  @include mixins.minmq(50em) {
    // --bottom-margin: 25em;
    --bottom-margin: 15em;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      // height: 150px;
      height: 350px;
      left: 0;
      right: 0;
      // transform: skew(0deg, -4deg);
      transform: skew(0deg, 354deg);
      transform-origin: left;
      position: absolute;
      z-index: -1;
    }
    &::before {
      top: -25px;
    }
    &::after {
      // bottom: calc((var(--bottom-margin)) * -1);
      // height: 255px;
      height: 249px;
    }

    .float-featured-image {
      // max-width: 600px;
      max-width: 701px;
      position: absolute;
      top: 0;
      margin-bottom: 0;
    }
  }

  // @include mixins.minmq(50em) {
  //   // padding-top: 3em;
  //   // margin-top: 4.5em;
  //   margin-bottom: calc((var(--bottom-margin) + 3em));
  // }
}

.stay-updated-article {
  @include mixins.minmq(50em) {
    display: flex;
    gap: 3.5em;
    div:first-child {
      flex-basis: 60%;
      // background-color: lawngreen;
      + div {
        flex-basis: 40%;
        padding: 2em;
      }
    }
  }
}

.home {
  @include mixins.minmq(50em) {
    .skew-bg-article {
      .float-featured-image {
        max-width: 558px;
      }
    }

    .stay-updated-article {
      div:first-child {
        + div {
          padding: 0;
        }
      }
      @include mixins.minmq(50em) {
        display: flex;
        align-items: center;
        // gap: 1.5em;
        gap: 2rem;
        max-width: 950px;
        margin: 0 auto;
        div:first-child {
          flex-basis: 50%;
          // background-color: lawngreen;
          + div {
            flex-basis: 50%;
            // padding: 2em;
          }
        }
      }
    }
  }
}

.refund_policy_doc {
  position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 10210000000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  .card-body {
    overflow: hidden;
    // background-color: red;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    .content {
      width: 100%;
      max-width: 1000px;
      max-height: 550px;
      overflow-y: auto;
    }
  }
  &.show {
    display: flex;
    place-content: center;
    align-items: center;
    .form-card {
      width: 100%;
      max-width: 1000px;
    }
  }

  .close-btn {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
