@use "../_partials/mixins";

.blob-list-wrapper {
    + article {
        @include mixins.minmq(900px) {
            margin-top: -12em;
        }
    }
}
.blog-highlights {
    // .featured-phone-image {
    //     // background-color: blue;
    // }
    .blob-list {
        .blob-item {
            // background-color: red;
            position: relative;
            .blob {
                position: absolute;
            }
        }
    }

    @include mixins.maxmq(50em) {
        overflow-x: auto;
    }
}
