.check-toggler {
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    & + label {
      display: flex;
      justify-content: space-between;
    }

    &:checked {
      & + label {
        .fake-toggler {
          .dot {
            right: 0;
            transition: all 300ms ease-in-out;
          }
        }
      }
    }
  }
  .fake-toggler {
    display: block;
    height: 1.4rem;
    width: 2.8rem;
    border-radius: 50px;
    background-color: var(--color-light);
    overflow: hidden;
    position: relative;
    .dot {
      display: block;
      background-color: var(--color-light-400);
      height: 100%;
      width: 50%;
      border-radius: 50px;
      position: absolute;
      transition: all 300ms ease-in-out;
    }
  }
}
