.form-message {
    // background-color: rgb(13, 202, 240);
    color: var(--color-primary);
    font-weight: var(--fw-semi-bold);
    display: none;
    &.card-body {
        position: relative;
    }
    .cancel-btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    &.show {
        display: block;
    }
}
