@use "../_partials/mixins";
.title-bg-one {
    --fontSize: 2.8rem;
    background-image: url(../assets/images/beautiful-african-american-doctor-couple-white.png);
    // background-color: var(--color-secondary);
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center;
    color: var(--color-white);
    .title {
        font-size: var(--fontSize);
        font-weight: 600;
    }

    @include mixins.maxmq(50em) {
        --fontSize: 1.5rem;
    }
}
