@use "../_partials/mixins";

.tab-nav {
  border-bottom: 1px solid var(--color-primary);
  &.vertical {
    display: flex;
  }
  .tab-nav-item {
    &:nth-of-type(1){
      label{
        + .horiline {
          transform-origin: right;
        }
      }
    }
    &:nth-of-type(2){
      label{
        + .horiline {
          transform-origin: left;
        }
      }
    }
    label {
      display: block;
      padding: 0.5em 2em;
      cursor: pointer;
      font-weight: bold;
      + .horiline {
        display: block;
        height: 2px;
        background-color: var(--color-primary);
        transform: scale(0);
        transition: transform 250ms ease-in-out;
      }
    }
    input[type="radio"] {
      position: absolute;
      left: -10000%;

      &:checked {
        & + label {
          transition: border-bottom 250ms ease-in-out;
          + .horiline {
            transform: scale(1);
            transition: background-color 250ms ease-in-out;
          }
        }
      }
    }
  }
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}

@include mixins.maxmq(500px) {
  .tab-nav {
    .tab-nav-item {
      flex-basis: 50%;
    }
  }
}
