// button {
//     background-color: darkslategrey;
//     color: white;
//     border: 0;
//     font-size: 18px;
//     font-weight: 500;
//     border-radius: 7px;
//     padding: 10px 10px;
//     cursor: pointer;
//     white-space: nowrap;
// }
#success {
    background: green;
}
#error {
    background: red;
}
#warning {
    background: coral;
}
#info {
    background: cornflowerblue;
}
#question {
    background: grey;
}
