@use "../_partials/mixins";

header.sticky {
  // position: sticky;
  z-index: 1020;
  transition: 0.5s;
  .toolbar-bg {
    background-color: var(--color-secondary);

    &.alt {
      background-color: var(--color-white);
      .nav-link {
        // color: var(--color-text);
        color: var(--color-white);
        &.primary-button {
          color: var(--color-white);
        }
      }
    }
  }
}

.alt-toolbar {
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  .navbar-brand {
    max-width: 130px;
  }
  .nav-list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
    // background-color: #ffffff;
    background-color: var(--color-secondary);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    &.nav-collapse {
      display: none;
    }

    &.nav-collapse[data-visible] {
      display: block;
    }
    .nav-link {
      color: var(--color-white);
      font-style: normal;
      font-weight: 500;
      // display: block;
      display: inline-flex;
      // padding: 0.7em 1.3em;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      font-size: var(--fs-50);
      &.primary-button,
      &.secondary-button {
        color: var(--color-white);
      }
    }
  }
  .profile-avatar {
    max-width: 20px;
  }

  .navbar-toggler {
    transition: all 230ms ease-in-out;
    position: relative;
    width: 25px;
    .close,
    .menu {
      position: absolute;
      display: block;
      transition: all 230ms ease-in-out;
    }
    &[aria-expanded="false"] {
      .menu {
        // display: block;
        visibility: visible;
      }
      .close {
        // display: none;
        visibility: hidden;
      }
    }
    &[aria-expanded="true"] {
      .menu {
        // display: none;
        visibility: hidden;
      }
      .close {
        // display: block;
        visibility: visible;
      }
    }

    &.scrolled-offset {
      color: var(--color-secondary);
    }
  }
}

// @include mixins.minmq(65em) {
@include mixins.minmq(1031px) {
  .alt-toolbar {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    .navbar-brand {
      max-width: 170px;
    }
    .navbar-toggler {
      display: none;
    }

    .nav-list {
      position: inherit;
      background-color: unset;
      box-shadow: none;
      align-items: center;

      &.nav-collapse {
        display: flex;
      }
      .nav-item {
        margin-right: 1.5em;
        &:last-child {
          margin-right: 0;
        }
      }
      .nav-link {
        // font-size: 18px;
        // line-height: 123.9%; /* 22.302px */
        // letter-spacing: -0.72px;
        color: #fff;
        font-size: var(--fs-nav);
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-right: 1.3em;
      }
    }
  }
}

// @include mixins.maxmq(50em) {
@include mixins.maxmq(1031px) {
  .nav-list {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
