@use "../_partials/mixins";

.home {
    overflow: hidden;
    .hero {
        .tagline {
            font-weight: var(--fw-bold);
        }
        //     .featured-image {
        //     }

        // @include mixins.minmq(50em){
        @include mixins.minmq(1031px) {
            .content-columns {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .text-wrap {
                    flex-basis: 50%;
                }

                h1 {
                    font-size: 50px;
                    line-height: 50px;
                    display: inline-flex;
                    align-items: center;
                    // background-color: lightcyan;
                    margin-top: 2.5em;
                    &::before {
                        content: "1";
                        display: block;
                        font-size: 120px;
                        font-weight: var(--fw-bold);
                    }

                    + p {
                        font-size: 47px;
                        margin-bottom: 0;
                    }
                }

                p {
                    font-size: 24px;
                    color: #ffffff;
                    font-weight: var(--fw-light);
                }

                .featured-image {
                    flex-basis: 50%;
                    // padding-top: 3em;
                }
            }
        }

        // @include mixins.maxmq(60em) {
        @include mixins.maxmq(1031px) {
            .wrap-container {
                width: min(var(--max-width), 100%);
            }
            .featured-image {
                position: absolute;
                top: 0;
                z-index: 1;
                display: none;
            }
            p {
                font-size: 16px;
                color: #ffffff;
                font-weight: var(--fw-light);
            }

            .text-wrap {
                position: relative;
                z-index: 4;

                h1 {
                    font-size: 35px;
                    line-height: 30px;
                    &::before {
                        font-size: 90px;
                    }

                    & + p {
                        font-size: 20px;
                        // margin-bottom: 0.6em;
                    }
                }
            }

            .content-columns {
                position: relative;
                padding: 0.8em;
                width: 100%;
                overflow: hidden;
                min-height: 400px;
                display: flex;
                align-items: center;
                background-image: url(../assets/images/beautiful-african-american-doctor-couple-white.png);
                background-position: center;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.5);
                background-blend-mode: soft-light;
                background-size: cover;
                // &::before {
                //     content: "";
                //     display: block;
                //     position: absolute;
                //     background-color: rgba(0, 0, 0, 0.5);
                //     top: 0;
                //     bottom: 0;
                //     left: 0;
                //     right: 0;
                //     z-index: 2;
                // }
            }
        }
    }
}
