@use "../_partials/mixins";

.hero {
    // min-height: 80vh;
    h1 {
        font-size: 50px;
        font-weight: var(--fw-semi-bold);
        color: #ffffff;
        line-height: 50px;
        display: inline-flex;
        align-items: center;
        margin-top: 0.5em;
        &::before {
            content: "1";
            display: block;
            font-size: 120px;
            font-weight: var(--fw-bold);
        }

        + p {
            font-size: 47px;
            font-weight: var(--fw-bold);
            color: #ffffff;
            margin-bottom: 0.6em;
        }
    }

    p {
        font-size: 20px;
        color: #ffffff;
        font-weight: var(--fw-light);
    }

    .featured-image {
        position: relative;
        // background-color: yellow;
        .img-static {
        }

        .img-absolute {
            position: absolute;
            bottom: -1em;
            // left: 5em;
            left: 20%;
            // max-width: 230px;
            max-width: 30%;
            // background-color: gold;
            display: inline-block;
        }
    }

    // + section {
    //     min-height: 500px;
    //     position: relative;
    //     &::before {
    //         content: "";
    //         display: block;
    //         position: absolute;
    //         background-color: var(--color-primary);
    //         height: 300px;
    //         left: -5em;
    //         right: -3em;
    //         border-top-right-radius: 230px;
    //         transform: rotate(-10deg);
    //         transform-origin: left;
    //     }
    // }

    + section {
        min-height: 300vh;
        .video-container {
            padding: 2em;
            width: 100%;
            // max-width: 650px;
            margin: 0 auto;
            aspect-ratio: 1.88;
            position: relative;
            .video {
                height: 100%;
                width: 100%;
                background-color: black;
                border-radius: 19px;
                overflow: hidden;
                // video{
                //     width: 100%;
                //     height: 100%;
                // }
            }
            .play-button {
                // --btn-width: 165px;
                // --btn-height: 121px;
                --btn-width: 8%;
                --btn-height: 5.5%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: var(--btn-width);
                top: calc(50% - var(--btn-height) / 2);
                left: calc(50% - var(--btn-width) / 2);
            }
        }
    }

    @include mixins.minmq(50em) {
        // padding-bottom: 7em;
        + section {
            // margin-top: -300px;
            // min-height: 500px;

            //     // display: none;
            //     min-height: 500px;
            //     position: relative;
            //     &::before {
            //         content: "";
            //         display: block;
            //         position: absolute;
            //         background-color: var(--color-primary);
            //         height: 300px;
            //         // left: -5em;
            //         // right: -3em;

            //         left: 0;
            //         top: 0;
            //         width: 100%;
            //         border-top-right-radius: 230px;
            //         transform: rotate(-10deg);
            //         transform-origin: left;
            //     }
        }

        .content-columns {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .text-wrap {
                flex-basis: 40%;
            }

            h1 {
                font-size: 50px;
                line-height: 50px;
                display: inline-flex;
                align-items: center;
                // background-color: lightcyan;
                margin-top: 2.5em;
                &::before {
                    content: "1";
                    display: block;
                    font-size: 120px;
                    font-weight: var(--fw-bold);
                }

                + p {
                    font-size: 47px;
                    margin-bottom: 0;
                }
            }

            p {
                font-size: 24px;
                color: #ffffff;
                font-weight: var(--fw-light);
            }

            .featured-image {
                flex-basis: 60%;
                // padding-top: 3em;
            }
        }
    }
}
