/**Font family*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
/* minimum media query */
/* maximum media query */
/* maximum and minimum query */
/* tranform effects */
/* transition effects */
/* form control appearance */
/* 'before' pseudo element style */
/* 'after' pseudo element style */
.section-title {
  font-size: 1.6rem;
  font-weight: var(--fw-bolder);
  line-height: 25px;
}

.section-tagline {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  line-height: 25px;
}

.md-text-size {
  font-size: 1rem;
  line-height: 1.6rem;
}
@media (min-width: 65em) {
  .md-text-size {
    font-size: 1.15rem;
    line-height: 2rem;
  }
}

@media (min-width: 65em) {
  .section-title {
    font-size: 2.2rem;
    line-height: 35px;
  }
  .md-text-size {
    font-size: 1.3rem;
  }
}
/* // https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /* COLORS */
  --color-primary: #00034b;
  --color-primary-100: hsl(238, 100%, 10%);
  --color-primary-500: hsl(238, 100%, 0%);
  --color-secondary: #ff0099;
  --color-secondary-100: #FF9ABB;
  --color-danger: #dc3545;
  --color-text: #000000;
  --color-white: #ffffff;
  --color-white-100: hsl(0, 0%, 80%);
  --color-light: #e4e4e4;
  --color-light-500: #AFAFAF;
  --color-light-400: rgba(2, 2, 2, 0.175);
  --color-success-200: rgb(25, 135, 40);
  --color-success-400: rgb(25, 135, 84);
  /* TYPOGRAPHY */
  --ff-primary: "Poppins", sans-serif;
  --ff-body: var(--ff-primary);
  --fs-hero-title: 2.5rem;
  --fs-section-title: 3.75em;
  --fs-nav: 1.13rem;
  --fs-50: 0.88rem;
  --fs-100: 1.13rem;
  --fs-200: 1.25rem;
  --fs-250: 1.56rem;
  --fs-300: 1.88rem;
  --fs-400: 2.5rem;
  --fs-450: 2.81rem;
  --fs-600: 3.75rem;
  /* SIZES */
  --size-50: 1.88em;
  --size-100: 2.63em;
  --size-250: 3.81em;
  --size-300: 4.88em;
  --size-500: 6.25em;
  /* FONT WEIGHT */
  --fw-lighter: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
  --fw-bolder: 700;
  /* LINE HEIGHT*/
  --lh-100: 40px;
  --lh-150: 50px;
  --lh-200: 60px;
  --lh-section-title: 65px;
  --skew-wave-top-margin: -6.8em;
}

@media (max-width: 50em) {
  :root {
    /* TYPOGRAPHY */
    --fs-200: 1.06rem;
    --fs-250: 1.13rem;
    --fs-300: 1.38rem;
    --fs-450: 1.56rem;
    --fs-600: 2.5rem;
    /* SIZES */
    --fs-hero-title: 1.56rem;
    --fs-section-title: 1.5em;
    line-height: 35px;
    --size-50: 1em;
    --size-100: 1.38em;
    --size-250: 2.5em;
    --size-300: 3.44em;
    --size-500: 5em;
    /* LINE HEIGHT*/
    --lh-section-title: 30px;
    --lh-200: 35px;
    --lh-150: 32px;
    --lh-100: 28px;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--ff-body);
}
html *:focus,
body *:focus {
  box-shadow: none;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

.fs-hero-title {
  font-size: var(--fs-hero-title);
}

.fs-section-title {
  font-size: var(--fs-section-title);
}

.fs-50 {
  font-size: var(--fs-50);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-250 {
  font-size: var(--fs-250);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-450 {
  font-size: var(--fs-450);
}

.fs-600 {
  font-size: var(--fs-600);
}

.text-white {
  color: var(--color-white);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-danger {
  color: var(--color-danger);
}

.text-blue-link {
  color: var(--color-blue-link);
}

.text-success {
  color: var(--color-success);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-100 {
  background-color: var(--color-secondary-100);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-light-500 {
  background-color: var(--color-light-500);
}

.bg-white-100 {
  background-color: var(--color-white-100);
}

.bg-blue-link {
  background-color: var(--color-blue-link);
}

.bg-success {
  background-color: var(--color-success);
}

.bga-mt-50 {
  margin-top: var(--size-50);
}

.bga-mb-50 {
  margin-bottom: var(--size-50);
}

.bga-ml-50 {
  margin-left: var(--size-50);
}

.bga-mr-50 {
  margin-right: var(--size-50);
}

.bga-my-50 {
  margin-top: var(--size-50);
  margin-bottom: var(--size-50);
}

.bga-mx-50 {
  margin-left: var(--size-50);
  margin-right: var(--size-50);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bolder {
  font-weight: var(--fw-bolder);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.text-underline {
  text-decoration: underline;
}

.lh-section-title {
  line-height: var(--lh-section-title);
}

.lh-200 {
  line-height: var(--lh-200);
}

.lh-150 {
  line-height: var(--lh-150);
}

.lh-100 {
  line-height: var(--lh-100);
}

.overflow-hidden {
  overflow: hidden;
}

.text-capitalize {
  text-transform: capitalize;
}

.min-full-width {
  max-width: 1000px;
  margin: 0 auto;
}

.pseudo-before-bottom-primary-tape {
  position: relative;
  z-index: 1;
}
.pseudo-before-bottom-primary-tape::before {
  content: "";
  background-color: var(--color-primary);
  display: block;
  height: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.pseudo-after-bottom-primary-tape {
  position: relative;
  z-index: 1;
}
.pseudo-after-bottom-primary-tape::after {
  content: "";
  background-color: var(--color-primary);
  display: block;
  height: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.pseudo-before-bottom-white-tape {
  position: relative;
  z-index: 1;
}
.pseudo-before-bottom-white-tape::before {
  content: "";
  background-color: var(--color-white);
  display: block;
  height: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.pseudo-after-bottom-white-tape {
  position: relative;
  z-index: 1;
}
.pseudo-after-bottom-white-tape::after {
  content: "";
  background-color: var(--color-white);
  display: block;
  height: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.even-columns {
  display: grid;
  gap: 1rem;
}
@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
.fade-in.appear {
  opacity: 1;
}

.from-left,
.from-right,
.from-bottom {
  transition: transform 1000ms ease-in-out;
  position: absolute;
  opacity: 0;
}
.from-left.appear,
.from-right.appear,
.from-bottom.appear {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}

.from-left {
  transform: translateX(-5em);
}

.from-right {
  transform: translateX(5em);
}

.from-top {
  transform: translateY(-50%);
}

.from-bottom {
  transform: translateY(50%);
}

em {
  font-style: italic;
}

.external-link {
  position: relative;
}
.external-link::after {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  background-image: url(../assets/icons/external-link-alt-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: -6px;
  top: -6px;
}

@media (min-width: 50em) {
  .large-screen-hide {
    display: none;
  }
  .large-screen-show {
    display: block;
  }
}
@media (max-width: 50em) {
  .small-screen-show {
    display: block;
  }
  .small-screen-hide {
    display: none;
  }
}
.card {
  background-color: var(--color-white);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
}
.card .card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.wrap-container {
  --max-width: 1222px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.wave {
  position: relative;
}
.wave::before {
  content: "";
  display: block;
  background-color: var(--color-primary);
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: -200px;
  --mask: radial-gradient(275.92px at 50% 375.2px, #000 99%, #0000 101%) calc(50% - 268px) 0/536px 100%,
    radial-gradient(275.92px at 50% -241.2px, #0000 99%, #000 101%) 50% 134px/536px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.toolbar {
  background-color: #00034b;
  color: #ffffff;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.first-section {
  background-color: #ff0099;
  color: #ffffff;
  min-height: 1152px;
  position: relative;
}

.second-section {
  background-color: #00034b;
  color: #ffffff;
  height: 300px;
  position: relative;
}
.second-section::before {
  content: "";
  display: block;
  height: 200px;
  background-color: #00034b;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: skew(0deg, -5deg);
  transform-origin: left;
}

.skew-wave {
  display: none;
}

.video-section-wrapper {
  margin-top: 0;
}

@media (min-width: 1222px) {
  .skew-wave {
    display: block;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: var(--skew-wave-top-margin);
  }
  .skew-wave .line {
    background-color: var(--color-primary);
    position: absolute;
    z-index: 2;
    left: -5em;
    top: 5.8em;
    bottom: -8em;
    right: -7em;
    border-radius: 0 550px 0 0;
    transform: rotate(-10deg);
  }
  .video-section-wrapper {
    margin-top: calc(var(--skew-wave-top-margin) - 3.95em);
  }
  .video-section-wrapper::before {
    content: "";
    display: block;
    height: 110px;
    background-color: var(--color-primary);
    position: absolute;
    top: -110px;
    left: 50%;
    right: -150%;
  }
}
header.sticky {
  z-index: 1020;
  transition: 0.5s;
}
header.sticky.toolbar-bg {
  background-color: var(--color-secondary);
}
header.sticky.toolbar-bg.alt {
  background-color: var(--color-white);
}
header.sticky.toolbar-bg.alt .nav-link {
  color: var(--color-text);
}
header.sticky.toolbar-bg.alt .nav-link.primary-button {
  color: var(--color-white);
}
header.sticky.toolbar-bg.alt .alt-toolbar .nav-list {
  background-color: var(--color-white);
}

.alt-toolbar {
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
}
.alt-toolbar .navbar-brand {
  max-width: 130px;
}
.alt-toolbar .nav-list {
  position: absolute;
  top: calc(100% - 0.3em);
  right: 0;
  left: 0;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  background-color: var(--color-secondary);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.alt-toolbar .nav-list.nav-collapse {
  display: none;
}
.alt-toolbar .nav-list.nav-collapse[data-visible] {
  display: block;
}
.alt-toolbar .nav-list .nav-link {
  color: var(--color-white);
  font-style: normal;
  font-weight: 500;
  display: inline-flex;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-size: var(--fs-50);
}
.alt-toolbar .nav-list .nav-link.primary-button, .alt-toolbar .nav-list .nav-link.secondary-button {
  color: var(--color-white);
}
.alt-toolbar .profile-avatar {
  max-width: 20px;
}
.alt-toolbar .navbar-toggler {
  transition: all 230ms ease-in-out;
  position: relative;
  width: 25px;
}
.alt-toolbar .navbar-toggler .close,
.alt-toolbar .navbar-toggler .menu {
  position: absolute;
  display: block;
  transition: all 230ms ease-in-out;
}
.alt-toolbar .navbar-toggler[aria-expanded=false] .menu {
  visibility: visible;
}
.alt-toolbar .navbar-toggler[aria-expanded=false] .close {
  visibility: hidden;
}
.alt-toolbar .navbar-toggler[aria-expanded=true] .menu {
  visibility: hidden;
}
.alt-toolbar .navbar-toggler[aria-expanded=true] .close {
  visibility: visible;
}
.alt-toolbar .navbar-toggler.scrolled-offset {
  color: var(--color-secondary);
}

@media (min-width: 1031px) {
  .alt-toolbar {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .alt-toolbar .navbar-brand {
    max-width: 170px;
  }
  .alt-toolbar .navbar-toggler {
    display: none;
  }
  .alt-toolbar .nav-list {
    position: inherit;
    background-color: unset;
    box-shadow: none;
    align-items: center;
  }
  .alt-toolbar .nav-list.nav-collapse {
    display: flex;
  }
  .alt-toolbar .nav-list .nav-item {
    margin-right: 1.5em;
  }
  .alt-toolbar .nav-list .nav-item:last-child {
    margin-right: 0;
  }
  .alt-toolbar .nav-list .nav-link {
    font-size: var(--fs-nav);
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 1.3em;
  }
}
@media (max-width: 1031px) {
  header.sticky .toolbar-bg.alt .nav-list {
    background-color: white;
  }
  .nav-list {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
.btn-group {
  display: flex;
  align-items: flex-start;
}

button {
  transition: all 300ms ease-in-out;
}
button:hover {
  transition: all 300ms ease-in-out;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-border-radius: 0.375rem;
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  border-radius: var(--bs-border-radius);
}
.btn.btn-sm {
  --bs-btn-padding-x: 0.6rem;
  --bs-btn-padding-y: 0.36rem;
  --bs-btn-font-size: 0.8rem;
  --bs-btn-line-height: 1.2;
  --bs-border-radius: 0.37rem;
}

.danger-button {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.success-button {
  background-color: var(--color-success-200);
  color: var(--color-white);
}

.primary-button,
.secondary-button {
  padding: 0.5em 1.3em;
}
.primary-button.nav-link,
.secondary-button.nav-link {
  font-size: 14px;
  transition: all 300ms ease-in-out;
  padding: 0.5em 1.3em !important;
}
.primary-button.nav-link:hover,
.secondary-button.nav-link:hover {
  color: #000000;
  transition: all 300ms ease-in-out;
}

.secondary-button,
.primary-button,
.call-to-action {
  border-radius: 10px;
  font-weight: var(--fw-light);
}

.primary-button {
  border: 1px solid var(--color-primary);
}

.primary-button,
.call-to-action {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.primary-button:hover,
.call-to-action:hover {
  background-color: var(--color-primary-100);
}

.secondary-button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: 1px solid var(--color-secondary);
}

.call-to-action {
  padding: 0.7em 1.5em;
  font-size: var(--fs-200);
}

.primary-button[data-type=inverted],
.call-to-action[data-type=inverted] {
  background-color: var(--color-white);
  color: var(--color-primary);
}
.primary-button[data-type=inverted]:hover,
.call-to-action[data-type=inverted]:hover {
  background-color: var(--color-white-100);
}

#myBtn {
  max-width: 45px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99000000;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: var(--color-light);
}

@media (max-width: 1031px) {
  .primary-button,
  .secondary-button,
  .call-to-action {
    padding: 0.7em 1em;
    font-size: var(--fs-50);
  }
}
.video-container {
  padding: 2em 0;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 1.4;
}
.video-container .video {
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.video-container .video.thumbnail::before {
  content: "";
  display: block;
  background-image: url(../assets/images/video-thumbnail-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.video-container .play-button {
  opacity: 0;
  transition: all 300ms ease-in-out;
  --btn-width: 20px;
  --btn-height: 20px;
  position: absolute;
  align-items: center;
  justify-content: center;
  max-width: var(--btn-width);
  top: calc(50% - var(--btn-height) / 2);
  left: calc(50% - var(--btn-width) / 2);
}
.video-container:hover .play-button {
  opacity: 1;
  transition: all 300ms ease-in-out;
}
@media (min-width: 50em) {
  .video-container {
    aspect-ratio: 1.98;
  }
  .video-container .video {
    border-radius: 19px;
  }
  .video-container .video video {
    width: 100%;
    height: 100%;
    max-width: 0 auto;
  }
  .video-container .play-button {
    --btn-width: 40px;
    --btn-height: 40px;
  }
}

@media (min-width: 50em) {
  .space-traveller-img-container {
    position: absolute;
    z-index: -1;
    left: -20%;
    width: 700px;
  }
}

.article p {
  font-size: var(--fs-250);
}
@media (min-width: 50em) {
  .article p {
    font-size: var(--fs-250);
  }
}

.primary-bg-skew {
  --bottom-margin: 7em;
  margin-top: var(--bottom-margin);
  margin-bottom: var(--bottom-margin);
  position: relative;
}
.primary-bg-skew::before, .primary-bg-skew::after {
  content: "";
  display: block;
  width: 100%;
  height: 55px;
  background-color: var(--color-primary);
  left: 0;
  right: 0;
  transform: skew(0deg, 354deg);
  transform-origin: left;
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 50em) and (min-width: 30em) {
  .primary-bg-skew::before, .primary-bg-skew::after {
    height: 85px;
  }
}
@media (min-width: 50em) {
  .primary-bg-skew {
    --bottom-margin: 10em;
  }
  .primary-bg-skew::before, .primary-bg-skew::after {
    content: "";
    display: block;
    width: 100%;
    height: 164px;
    left: 0;
    right: 0;
    transform: skew(0deg, 354deg);
    transform-origin: left;
    position: absolute;
    z-index: -1;
  }
  .primary-bg-skew::after {
    height: 164px;
  }
}

.skew-bg-article {
  position: relative;
  --bottom-margin: 10em;
  margin-bottom: var(--bottom-margin);
}
.skew-bg-article::before, .skew-bg-article::after {
  content: "";
  display: block;
  width: 100%;
  background-color: var(--color-light);
  left: 0;
  right: 0;
  transform: skew(0deg, 354deg);
  transform-origin: left;
  position: absolute;
  z-index: -1;
}
.skew-bg-article::before {
  height: 135px;
}
.skew-bg-article::after {
  height: 87px;
}
.skew-bg-article .float-featured-image {
  margin-bottom: -5em;
}
@media (min-width: 50em) {
  .skew-bg-article {
    --bottom-margin: 15em;
  }
  .skew-bg-article::before, .skew-bg-article::after {
    content: "";
    display: block;
    width: 100%;
    height: 350px;
    left: 0;
    right: 0;
    transform: skew(0deg, 354deg);
    transform-origin: left;
    position: absolute;
    z-index: -1;
  }
  .skew-bg-article::before {
    top: -25px;
  }
  .skew-bg-article::after {
    height: 249px;
  }
  .skew-bg-article .float-featured-image {
    max-width: 701px;
    position: absolute;
    top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 50em) {
  .stay-updated-article {
    display: flex;
    gap: 3.5em;
  }
  .stay-updated-article div:first-child {
    flex-basis: 60%;
  }
  .stay-updated-article div:first-child + div {
    flex-basis: 40%;
    padding: 2em;
  }
}

@media (min-width: 50em) {
  .home .skew-bg-article .float-featured-image {
    max-width: 558px;
  }
  .home .stay-updated-article div:first-child + div {
    padding: 0;
  }
}
@media (min-width: 50em) and (min-width: 50em) {
  .home .stay-updated-article {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 950px;
    margin: 0 auto;
  }
  .home .stay-updated-article div:first-child {
    flex-basis: 50%;
  }
  .home .stay-updated-article div:first-child + div {
    flex-basis: 50%;
  }
}

@media (min-width: 900px) {
  .blob-list-wrapper + article {
    margin-top: -12em;
  }
}

.blog-highlights .blob-list .blob-item {
  position: relative;
}
.blog-highlights .blob-list .blob-item .blob {
  position: absolute;
}
@media (max-width: 50em) {
  .blog-highlights {
    overflow-x: auto;
  }
}

.donation-info {
  text-align: center;
  position: relative;
  --margin-bottom: 3rem;
  margin-bottom: var(--margin-bottom);
}
.donation-info::after {
  content: "";
  height: var(--margin-bottom);
  width: var(--margin-bottom);
  background-image: url(../assets/icons/caret-right-blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 3.5%;
  bottom: calc((var(--margin-bottom)) * -1);
}
.donation-info .donation-card {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: 25px;
  padding: 1.5em;
}
.donation-info .donation-card h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}
.donation-info .featured-image-container {
  flex-basis: 50%;
}
.donation-info .featured-image-container .featured-image {
  max-width: 590px;
  margin: 0 auto;
}
@media (min-width: 60em) {
  .donation-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.7rem;
  }
  .donation-info .donation-card {
    border-radius: 50px;
    padding: 3em;
    flex-basis: 50%;
    line-height: 200%;
    height: 100%;
  }
  .donation-info .donation-card h3 {
    font-size: 2.3rem;
  }
}

.donation-article {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  margin-top: 3.5em;
}
.donation-article .article-card {
  flex-basis: 100%;
  height: 100%;
}
.donation-article .featured-image-container {
  flex-basis: 100%;
}
.donation-article .featured-image-container .featured-image {
  max-width: 590px;
  margin: 0 auto;
}
@media (min-width: 60em) {
  .donation-article {
    margin-top: 5.5em;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 4em;
  }
  .donation-article .article-card,
  .donation-article .featured-image-container {
    flex-basis: 50%;
  }
}

@media (min-width: 60em) {
  .donation-article-1 {
    display: flex;
    align-items: flex-start;
    gap: 35px;
  }
  .donation-article-1 p {
    font-size: 30px;
  }
  .donation-article-1 .column-1 {
    flex-basis: 60%;
  }
  .donation-article-1 .column-1 p {
    max-width: 75%;
  }
  .donation-article-1 .column-2 {
    flex-basis: 40%;
  }
}

.home .donation-info {
  text-align: center;
  position: relative;
  --margin-bottom: 3rem;
  margin-bottom: var(--margin-bottom);
}
.home .donation-info::after {
  content: "";
  height: var(--margin-bottom);
  width: var(--margin-bottom);
  background-image: url(../assets/icons/caret-right-blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 3.5%;
  bottom: calc((var(--margin-bottom)) * -1);
}
.home .donation-info .donation-card {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: 25px;
  padding: 1.5em;
}
.home .donation-info .donation-card h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}
.home .donation-info .featured-image-container {
  flex-basis: 50%;
}
.home .donation-info .featured-image-container .featured-image {
  max-width: 590px;
  margin: 0 auto;
}
@media (min-width: 60em) {
  .home .donation-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .home .donation-info .donation-card {
    border-radius: 50px;
    padding: 3em;
    flex-basis: 50%;
    line-height: 200%;
    height: 100%;
  }
  .home .donation-info .donation-card h3 {
    font-size: 2.3rem;
  }
}
.home #donate-now {
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 60em) {
  .home .donation-info .donation-card {
    border-radius: 50px;
    padding: 3em;
    flex-basis: 50%;
    line-height: 40px;
    height: 100%;
  }
}
.form-group .init-control {
  border: 1px solid #afafaf;
  border-radius: 5px;
}
.form-group .init-control:focus {
  box-shadow: none;
  border: 1px solid var(--color-primary);
}

.init-textarea-control {
  border: 1px solid #afafaf;
  border-radius: 5px;
}

label {
  cursor: pointer;
}
label.required::after {
  content: "*";
  color: var(--color-danger);
}

.error-msg {
  display: none;
  color: var(--color-danger);
}

input.invalid {
  border-color: var(--color-danger);
}
input.invalid + .error-msg {
  display: block;
}
input.invalid:focus {
  border-color: var(--color-danger);
}

.light-form-bg-100 {
  background-color: rgba(175, 175, 175, 0.4);
}
.light-form-bg-100 .form-control {
  background-color: unset;
}

.light-form-bg {
  background-color: rgba(175, 175, 175, 0.2);
}
.light-form-bg .form-control {
  background-color: unset;
}

@media (min-width: 60em) {
  .form-group .init-control {
    padding: 0.5em 0.5em;
    position: relative;
    border-radius: 13px;
    height: 60px;
    display: block;
    width: 100%;
    font-size: 1.2rem;
  }
  .init-textarea-control {
    padding: 0.8em 0.5em;
    border: 1px solid #afafaf;
    border-radius: 13px;
    font-size: 1.2rem;
  }
}
.milestones-graph {
  margin-top: 3em;
}
.milestones-graph .milestone {
  height: 13px;
  background-color: #d9d9d9;
  margin-bottom: 4em;
  border-radius: 50px;
  position: relative;
}
.milestones-graph .milestone .label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -36px;
  left: 0;
  right: 0;
}
.milestones-graph .milestone .guage {
  height: 100%;
  border-radius: 50px;
  width: 30%;
  display: flex;
  align-items: center;
  position: relative;
}
.milestones-graph .milestone .guage::after {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  z-index: 10;
}
.milestones-graph .milestone .guage.africa {
  background-color: #ff00e7;
}
.milestones-graph .milestone .guage.africa::after {
  background-color: #ff00e7;
}
.milestones-graph .milestone .guage.europe {
  background-color: #48cbff;
}
.milestones-graph .milestone .guage.europe::after {
  background-color: #48cbff;
}
.milestones-graph .milestone .guage.america {
  background-color: #0a0559;
}
.milestones-graph .milestone .guage.america::after {
  background-color: #0a0559;
}

.pie-chart {
  max-width: 500px;
}

.milestones-pie-chart {
  border: 2px solid lightgrey;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  color: black;
  overflow: hidden;
}
.milestones-pie-chart .pie-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.milestones-pie-chart .pie-item.africa {
  background-color: pink;
  height: 50%;
  position: absolute;
  top: 0px;
  right: 0;
  width: 50%;
  clip-path: polygon(0 0, 100% 0%, 0% 100%);
}
.milestones-pie-chart .pie-item.europe {
  display: none;
  background-color: purple;
  height: 50%;
  width: 50%;
  right: 0;
  top: 0;
  position: absolute;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}
.milestones-pie-chart .pie-item.america {
  display: none;
  background-color: #0a0559;
  height: 50%;
  width: 50%;
  right: 0;
  top: 50%;
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

@media (min-width: 50em) {
  .milestones-graph .milestone {
    height: 30px;
  }
  .milestones-graph .milestone .guage::after {
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    z-index: 10;
  }
}
.footer {
  color: white;
  font-size: 0.78rem;
  padding-top: 2em;
  padding-bottom: 3em;
}
.footer p {
  font-weight: var(--fw-light);
}
.footer .social-media-handles {
  display: flex;
  align-items: center;
}
.footer .social-media-handles .social-icon {
  margin-right: 0.8em;
  max-width: 17px;
}
.footer .social-media-handles .social-icon:last-child {
  margin-right: 0;
}
.footer .copyright-and-policy {
  font-weight: var(--fw-semi-bold);
  display: flex;
  flex-wrap: wrap;
}
.footer .copyright-and-policy div:first-child {
  margin-right: 3em;
}
.footer .partners-logos {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.footer .partners-logos li {
  max-width: 57px;
}
.footer .partners-logos li:first-child {
  margin-right: 1.5em;
}
.footer .partners-logos li:last-child {
  max-width: 70px;
}
@media (min-width: 60em) {
  .footer .partners-logos {
    justify-content: flex-end;
  }
}

.title-bg-one {
  --fontSize: 2.8rem;
  background-image: url(../assets/images/beautiful-african-american-doctor-couple-white.png);
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-position: center;
  color: var(--color-white);
}
.title-bg-one .title {
  font-size: var(--fontSize);
  font-weight: 600;
}
@media (max-width: 50em) {
  .title-bg-one {
    --fontSize: 1.5rem;
  }
}

.tab-nav {
  border-bottom: 1px solid var(--color-primary);
}
.tab-nav.vertical {
  display: flex;
}
.tab-nav .tab-nav-item:nth-of-type(1) label + .horiline {
  transform-origin: right;
}
.tab-nav .tab-nav-item:nth-of-type(2) label + .horiline {
  transform-origin: left;
}
.tab-nav .tab-nav-item label {
  display: block;
  padding: 0.5em 2em;
  cursor: pointer;
  font-weight: bold;
}
.tab-nav .tab-nav-item label + .horiline {
  display: block;
  height: 2px;
  background-color: var(--color-primary);
  transform: scale(0);
  transition: transform 250ms ease-in-out;
}
.tab-nav .tab-nav-item input[type=radio] {
  position: absolute;
  left: -10000%;
}
.tab-nav .tab-nav-item input[type=radio]:checked + label {
  transition: border-bottom 250ms ease-in-out;
}
.tab-nav .tab-nav-item input[type=radio]:checked + label + .horiline {
  transform: scale(1);
  transition: background-color 250ms ease-in-out;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

@media (max-width: 500px) {
  .tab-nav .tab-nav-item {
    flex-basis: 50%;
  }
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1021; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.overlay.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  max-width: 500px;
  margin: 0 auto;
}

.form-message {
  color: var(--color-primary);
  font-weight: var(--fw-semi-bold);
  display: none;
}
.form-message.card-body {
  position: relative;
}
.form-message .cancel-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.form-message.show {
  display: block;
}

.table {
  width: 100%;
}
.table th, .table td {
  text-align: left;
  padding: 0.4em;
}
.table th {
  font-weight: var(--fw-bold);
}
.table.bordered {
  border: 1px solid var(--color-light-400);
}
.table.bordered th, .table.bordered td {
  border-color: var(--color-light-400);
  border-style: solid;
  border-bottom-width: 1px;
}

.smiley-wrapper {
  max-width: 40px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -20px, 0);
  }
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  /* display: inline-block; */
}

@keyframes textclip {
  from {
    background-position: 200% center;
  }
  to {
    background-position: 0% center;
  }
}
.ol {
  padding-left: 1em;
}
.ol[aria-label=numbering] {
  list-style-type: decimal;
}

.cookies-setting-options .check-toggler {
  display: flex;
  gap: 10px;
}
.cookies-setting-options .check-toggler::before {
  content: "+";
  display: block;
  font-weight: bold;
}
.cookies-setting-options .check-toggler label {
  width: 100%;
}

#social_links {
  list-style-type: decimal !important;
  padding-left: 1em;
}
#social_links li {
  margin-bottom: 0.5em;
}

.partner-rep-list li:not(.partner-rep-list li:last-child) {
  border-bottom: 2px solid var(--color-light);
  margin-bottom: 1.3em;
  padding-bottom: 1.3em;
}

.cookies-notification-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  background-color: rgb(0, 0, 0);
  color: var(--color-white);
  font-size: 0.8rem;
}

#success {
  background: green;
}

#error {
  background: red;
}

#warning {
  background: coral;
}

#info {
  background: cornflowerblue;
}

#question {
  background: grey;
}

.slider-container {
  position: relative;
}
.slider-container .control {
  position: absolute;
  top: 40%;
  z-index: 2;
  opacity: 0.3;
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.slider-container .control:hover {
  opacity: 0.6;
}
.slider-container .control.previous {
  left: 0.5em;
}
.slider-container .control.previous::after {
  background-image: url(../assets/icons/arrow_forward_ios_black_24dp.svg);
  transform: rotate(180deg);
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.slider-container .control.next {
  right: 0.5em;
}
.slider-container .control.next::after {
  background-image: url(../assets/icons/arrow_forward_ios_black_24dp.svg);
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.project-slider .img-wrap {
  border-radius: 15px;
  overflow: hidden;
}

.key-features {
  padding-left: 0;
}
.key-features li {
  margin-bottom: 1em;
}
.key-features li:last-child {
  margin-bottom: 0;
}

.accordion-list .accordion-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-primary-500);
}
.accordion-list .accordion-item:last-child {
  border-bottom-color: var(--color-light);
}
.accordion-list .accordion-item:nth-of-type(1) button::before {
  content: "1.";
}
.accordion-list .accordion-item:nth-of-type(2) button::before {
  content: "2.";
}
.accordion-list .accordion-item:nth-of-type(3) button::before {
  content: "3.";
}
.accordion-list .accordion-item:nth-of-type(4) button::before {
  content: "4.";
}
.accordion-list .accordion-item:nth-of-type(5) button::before {
  content: "5.";
}
.accordion-list .accordion-item:nth-child(odd) .accordion-collapse {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.accordion-list .accordion-item:nth-child(even) .accordion-collapse {
  background-color: var(--color-secondary-100);
  color: var(--color-text);
}
.accordion-list .accordion-item:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}
.accordion-list .accordion-item:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.accordion-list .accordion-item .accordion-header button {
  font-weight: var(--fw-bold);
  width: 100%;
  text-align: left;
  background-color: var(--color-light);
  color: var(--color-text);
  padding: 0.7em 0.7em;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
}
.accordion-list .accordion-item .accordion-header button::after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background-image: url(../assets/icons/icon-caret-down-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 5px;
  top: 40%;
}
.accordion-list .accordion-item .accordion-header button[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.accordion-list .accordion-item .accordion-header + .accordion-collapse {
  display: none;
  padding: 0.9em 0.5em;
}
.accordion-list .accordion-item .accordion-header + .accordion-collapse.show {
  display: block;
}
.accordion-list .accordion-item .accordion-header + .accordion-collapse.show.collapse {
  visibility: visible;
}
.accordion-list .accordion-item .accordion-header + .accordion-collapse.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.anime-phone-image {
  margin: 0 auto 1em;
  animation-name: toggleExpandPhone;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes toggleExpandPhone {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
.check-toggler input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.check-toggler input[type=checkbox] + label {
  display: flex;
  justify-content: space-between;
}
.check-toggler input[type=checkbox]:checked + label .fake-toggler {
  background-color: var(--color-secondary-100);
}
.check-toggler input[type=checkbox]:checked + label .fake-toggler .dot {
  right: 0;
  transition: all 300ms ease-in-out;
  background-color: var(--color-secondary);
}
.check-toggler .fake-toggler {
  display: block;
  height: 1.4rem;
  width: 2.8rem;
  border-radius: 50px;
  background-color: var(--color-light);
  overflow: hidden;
  position: relative;
}
.check-toggler .fake-toggler .dot {
  display: block;
  background-color: var(--color-light-400);
  height: 100%;
  width: 50%;
  border-radius: 50px;
  position: absolute;
  transition: all 300ms ease-in-out;
}

@media (max-width: 425px) {
  .man-kids-image {
    height: 300px;
    background-image: url(../assets/images/medium-shot-black-family-posing-studio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .man-kids-image img {
    display: none;
  }
}

.iti {
  width: 100%;
}

.amount_select_wrapper {
  display: none;
}
.amount_select_wrapper.show {
  display: block;
}

.hero h1, .hero-alt h1 {
  font-size: 50px;
  font-weight: var(--fw-semi-bold);
  color: #ffffff;
  line-height: 50px;
  display: inline-flex;
  align-items: center;
  margin-top: 0.5em;
}
.hero h1::before, .hero-alt h1::before {
  content: "1";
  display: block;
  font-size: 120px;
  font-weight: var(--fw-bold);
}
.hero h1 + p, .hero-alt h1 + p {
  font-size: 47px;
  font-weight: var(--fw-bold);
  color: #ffffff;
  margin-bottom: 0.6em;
}
.hero p, .hero-alt p {
  font-size: 20px;
  color: #ffffff;
  font-weight: var(--fw-light);
}
.hero .featured-image, .hero-alt .featured-image {
  position: relative;
}
.hero .featured-image .img-absolute, .hero-alt .featured-image .img-absolute {
  position: absolute;
  bottom: -1em;
  left: 20%;
  max-width: 30%;
  display: inline-block;
  transition: all 300ms ease-in-out;
}
.hero .featured-image .img-absolute:hover, .hero-alt .featured-image .img-absolute:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}
.hero + section, .hero-alt + section {
  position: relative;
}
.hero + section::after, .hero-alt + section::after {
  content: "";
  display: block;
  background-color: #ffffff;
  padding: 1.5em 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
@media (min-width: 50em) {
  .hero + section .video-container, .hero-alt + section .video-container {
    aspect-ratio: 1.88;
  }
  .hero .content-columns, .hero-alt .content-columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .hero .content-columns .text-wrap, .hero-alt .content-columns .text-wrap {
    flex-basis: 40%;
  }
  .hero .content-columns h1, .hero-alt .content-columns h1 {
    font-size: 50px;
    line-height: 50px;
    display: inline-flex;
    align-items: center;
    margin-top: 2.5em;
  }
  .hero .content-columns h1::before, .hero-alt .content-columns h1::before {
    content: "1";
    display: block;
    font-size: 120px;
    font-weight: var(--fw-bold);
  }
  .hero .content-columns h1 + p, .hero-alt .content-columns h1 + p {
    font-size: 47px;
    margin-bottom: 0;
  }
  .hero .content-columns p, .hero-alt .content-columns p {
    font-size: 24px;
    color: #ffffff;
    font-weight: var(--fw-light);
  }
  .hero .content-columns .featured-image, .hero-alt .content-columns .featured-image {
    flex-basis: 60%;
  }
}

.hero-alt {
  aspect-ratio: 11/9;
  background-image: url(../assets/images/hero-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.hero-alt .call-to-action {
  margin-bottom: 4em;
}

.home {
  overflow: hidden;
}
.home .hero .tagline {
  font-weight: var(--fw-bold);
}
@media (min-width: 1031px) {
  .home .hero .content-columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .home .hero .content-columns .text-wrap {
    flex-basis: 50%;
  }
  .home .hero .content-columns h1 {
    font-size: 50px;
    line-height: 50px;
    display: inline-flex;
    align-items: center;
    margin-top: 2.5em;
  }
  .home .hero .content-columns h1::before {
    content: "1";
    display: block;
    font-size: 120px;
    font-weight: var(--fw-bold);
  }
  .home .hero .content-columns h1 + p {
    font-size: 47px;
    margin-bottom: 0;
    font-weight: var(--fw-bold);
  }
  .home .hero .content-columns p {
    font-size: 24px;
    color: #ffffff;
    font-weight: var(--fw-light);
  }
  .home .hero .content-columns .featured-image {
    flex-basis: 50%;
  }
}
@media (max-width: 1031px) {
  .home .hero .wrap-container {
    width: min(var(--max-width), 100%);
  }
  .home .hero .featured-image {
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
  }
  .home .hero p {
    font-size: 16px;
    color: #ffffff;
    font-weight: var(--fw-light);
  }
  .home .hero .text-wrap {
    position: relative;
    z-index: 4;
  }
  .home .hero .text-wrap h1 {
    font-size: 35px;
    line-height: 30px;
  }
  .home .hero .text-wrap h1::before {
    font-size: 90px;
  }
  .home .hero .text-wrap h1 + p {
    font-size: 27px;
    margin-top: -10px;
    margin-bottom: 0.15em;
  }
  .home .hero .content-columns {
    position: relative;
    padding: 0.8em;
    width: 100%;
    overflow: hidden;
    min-height: 400px;
    display: flex;
    align-items: center;
    background-image: url(../assets/images/beautiful-african-american-doctor-couple-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: soft-light;
    background-size: cover;
  }
}

/*# sourceMappingURL=main.css.map */
