// @use "../_abstracts/colors";
@use "../_partials/mixins";
// @use "../_partials/variables";

// /* TYPOGRAPHY */
// $bodyFontFamily: var(--ff-body) !important;
// $titleFontFamily: var(--ff-secondary);
// $fontStack: var(--ff-body);

.section-title {
    font-size: 1.6rem;
    font-weight: var(--fw-bolder);
    line-height: 25px;
    // color: var(--color-primary);
}


.section-tagline {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    line-height: 25px;
}

.md-text-size {
    // font-size: 1.15rem;
    // line-height: 2rem;
    font-size: 1rem;
    line-height: 1.6rem;
}

@include mixins.minmq(65em) {
    .section-title {
        font-size: 2.2rem;
        line-height: 35px;
    }

    .md-text-size {
        font-size: 1.3rem;
    }
}
